/*--------------------------------------------------------------
# Elements 
--------------------------------------------------------------*/

::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::placeholder {
  color: #fff;
}

body {
	background: #111;
}

.pages #header {
	background: #111 !important;
}

#header.header-scrolled {
    transition: all 0.5s;
    background: #fff;
    box-shadow: none !important; 
}

.col-lg-6.lowerRowRight {
    margin-bottom: -70px !important;
}

.col-lg-6.lowerRowLeft {
    margin-bottom: -20px !important;
}

a.partnerLink {
    margin-right: 50px;
    position: relative;
    top: 60px;
}

@media(max-width: 992px) {
	a.privacyLink {
		color: #fff;
		font-weight: 400;
		letter-spacing: 0.3px;
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	p.copyrightArea {
		color: #fff;
		font-weight: 400;
		letter-spacing: 0.3px;
		display: block;
		float: left;
		width: 100%;
	}
	.col-lg-6.lowerRowRight {
		margin-top: 60px;
	}	
}

@media(max-width: 767px) {
	.parent-active .content-wrap h1 {
		margin-bottom: 20px;
		margin-top: -120px;
	}	
}

@media(max-width: 480px) {
	.parent-active .hero-section {
		padding: 0 !important;
	}
	.parent-active .content-wrap h1 {
		margin-bottom: 20px;
		margin-top: -100px;
	}	
	a.partnerLink {
		margin-right: 50px;
		margin-bottom: 30px;
		display: block;
	}	
}

li.newsBox h5 {
    color: #111 !important;
}

.header-scrolled .nav-menu a {
    color: #fff;
}

.col-lg-6.lowerRowRight {
    margin-top: 90px;
}

.blueArea .row {
    margin: 0 auto !important;
}

.blueArea {
    display: block;
    width: 100%;
    background: #275CDC;
    padding-top: 60px;
    padding-bottom: 60px;
}

h2.footerBlueText {
    color: #fff;
    font-size: 44px;
}

.boardMember img {
    width: 100%;
}

.parent-active .col-lg-12.content-wrap {
    margin-top: 250px;
}

p.copyrightArea {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;
    display: inline;	
    float: right;	
}

a.privacyLink {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;	
    margin-left: 50px;
    display: inline;	
    float: right;
}

img.partnerLogos {
    padding-right: 50px;
	margin-top: 50px;
}
a.partnerLink:hover {
    opacity: 0.7;
}

.section-gap {
    padding: 100px 0;
    @media(max-width: 991px) {
        padding: 60px 0px;
    }
}

.container-fluid.paddingHero {
    padding-left: 3%;
    padding-right: 3%;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.aquablue-bg {
    background: $offwhite;
}


.section-title-wrap {
    text-align: center;
    margin-bottom: 80px;
    .title-img {
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 15px;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0px;
            @include transform(translateX(-50%));
            background: $offwhite;
            height: 3px;
            width: 80px;
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $title-color;
    }
    p {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}


#header.header-scrolled {
    transition: all 0.5s;
    background: #111 !important;
    box-shadow: none !important;
}

.container {
    max-width: 1674px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

@media only screen and (max-width: 1320px) {
	.paymentBox {
		height: 450px;
	}
}



img.submitArrow {
    width: 5%;
    padding-left: 10px;
}

form#myForm button.genric-btn.mt-30 {
    background: #275CDC;
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 20px;
    text-transform: none;
    font-weight: 500;
    outline: 0 !important;
    border: 0 !important;	
}

a.contactPhone {
	display: inline;
    font-size: 24px;
    color: #275CDC;
}

a.contactEmail {
	display: inline;
    font-size: 24px;
    color: #275CDC;
}

h2.subTitle.contactText {
    font-size: 34px;
    line-height: 44px;
}

form#myForm {
    padding: 50px;
    background: #222;
    margin-top: 50px;
}

form#myForm label {
    color: #fff;
    font-size: 18px;
}

form#myForm input {
    height: 70px;
    border-radius: 0px;
    border-color: #C8CFD7 !important;
	background: none !important;
}

form#myForm textarea {
    border-radius: 0px;
    border-color: #C8CFD7 !important;
	background: none !important;	
}

h2.projectTitleh2 {
    font-size: 44px;
    padding-top: 20px;
    color: #111;
    padding-left: 40px;
	font-weight: 500;
	letter-spacing: -0.4px;
}

.col-lg-9.bgWhite {
    background: #fff;
    margin-left: -47px;	
}

a.pdfButton {
    border: 1px solid #275CDC;
    padding: 21px 30px;
    margin-left: 14px;
}

a.pdfButton img {
    padding-right: 8px;
}

a.githubBtn {
    background: #275CDC;
    color: #fff;
    padding: 22px 30px;
    margin-left: 20px;
}

a.githubBtn img {
    padding-right: 8px;
}

h2.projectTitleh2 {
    font-size: 44px;
    padding-top: 42px;
    color: #111;
    padding-left: 20px;
}

p.projectBlurb {
    color: #111;
    padding-left: 20px;
    font-size: 14px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 30px;	
	padding-right: 20px;
}

.row.projectsRow .col-lg-3 {
    padding-right: 0px !important;
}

.active2 {
    background: white;
    color: $black !important;
}

section.pageTitleSection {
    background: url(/MobileCoin/img/bg-spiral.svg) no-repeat;
    background-position: right;
    background-position-y: 80px;	
}

footer.footer-area {
    background: url(/MobileCoin/img/footer-bg.jpg) no-repeat;
	background-size: cover;	
}

.col-lg-8.digitalMoney {
    max-width: 700px;
    padding-left: 120px;
}

p.smallPara.paddingBottom {
    padding-bottom: 20px;
}

a.blueButton {
    background: #275CDC;
    color: #fff;
    padding: 20px 40px;
}

a.blueButton img {
    margin-left: 6px;
    width: 5%;
}

a.scrollDown {
    margin-left: 24px;
    font-size: 20px;
    font-weight: 500;	
}

.greyDivider {
    color: #999 !important;
    margin: 30px 0;
    z-index: 99999 !important;
    background: #999 !important;
}

section.projects-section.section-gap {
    padding-top: 0px;
}

.row.projectsRow {
    margin-bottom: 72px;
}

.scrollArea a {
	display: inline;
	color: #275CDC;
}

.paymentBox {
    background: #222;
    height: 380px;
    padding: 40px;
	text-align: center;	
}

h2.subTitle.paddingBottom60 {
    padding-bottom: 48px;
}

h4.boxTitle {
	color: #fff;
    padding: 40px 0 10px 0;
}

.partnerLink img {
	display: inline;
}

.paymentBox img {
    min-height: 90px;
}

.partnersBox {
	color: #fff;
	background: #222;
    padding: 40px;
    margin-bottom: 30px;	
	transition: all .2s ease-in-out;		
}

.partnersBox:hover {
    transform: scale(0.98);
}

.newsletterSection p {
    color: #fff !important;
}

h2.committeeTitle {
    color: #fff;
    font-weight: 400;
    margin-top: -20px;
    padding-bottom: 16px;
}

img.rightArrow {
	color: #fff;
    float: right;
    padding-top: 40px;	
}

p.boxPara {
    font-size: 14px;
    color: #fff;	
}

img.newsArrow {
    width: 2%;
    margin-left: 5px;
    margin-top: -2px;
}

.newsBox {
    background: #fff;
    margin-top: 40px;
    padding: 48px;
    margin-right: 0px;
    margin-left: 0px;
}

.blog-post .head {
    margin-bottom: 10px !important;
    font-size: 48px !important;
	color: #fff;
}

.blog-post .details-body h1 {
    padding: 40px 0 !important;
	color: #fff;	
}

.blog-post .details-body h2 {
    padding: 40px 0 20px 0 !important;
    color: #fff;
    font-weight: 600;	
}

section.blog-post .container {
	max-width: 1060px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}


.newsTitle {
    padding: 20px 0;
    font-size: 26px;
    font-weight: 600;
}

a.newsTitle {
    color: #111 !important;
}

a.newsTitle span {
    color: #275CDC;
}

span.readMore {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-top: 4px;
}

.newsDateStamp {
    padding-bottom: 10px;
	color: #111 !important;
}

.border-top {
    border-top: 1px solid $aquablue-color;
}

.divider-gap {
	padding: 0;
}

.partnersBox p {
	padding-top: 24px;
	margin-bottom: 0px;
}

.blueBar {
    background: #275CDC;
	width: 100%;
    padding: 20px;	
}

h4.boardTitle {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;	
}

.ctaBox {
    border: 1px solid #C8CFD7;
    max-width: 1238px;
    margin: 0 auto;
    padding: 80px 80px 100px 80px;
}

h2.ctaBottom {
    padding: 20px 40px 40px 40px;
    line-height: 64px;
    font-size: 44px;
	color: #fff;
}

a.ctaLink {
    color: #275CDC;
    font-size: 20px;
    font-weight: 500;
}

a {
	color: #275CDC;
}

.textCenter {
	text-align: center;
}

input.inputDefault {
    height: 80px;
    border: 0;
	outline: 0;
    padding: 20px;
    width: 700px;
    background: none;	
    border: 1px solid #C8CFD7 !important;	
}

.newsletterForm {
	margin-left: 40px;
}

a.buttonSubmit {
    position: relative;
    left: -60px;
}

.inputDefault {
    flex: 1;
}

.newsletterSection .boxPara {
	width: 685px;
	margin: 0 auto;
	padding-bottom: 46px;
	letter-spacing: 0.4px;
}

h2.subTitle.paddingDown {
    padding-bottom: 10px;
}

h3.boardName {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

section.section-gap.customPadding {
    padding-top: 0px;
}

img.blue-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2.subTitle {
    color: #fff;
    font-size: 44px;
    line-height: 64px;	
    font-weight: 500;
    padding: 20px 0 30px 0;	
}

.col-lg-3.memberBlock {
    margin-bottom: 30px;
}

p.subPara {
    color: #fff;
    font-size: 24px;
    line-height: 48px;
}

p.smallPara {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    padding-bottom: 40px;	
    letter-spacing: 0.4px;
    font-weight: 300;	
}

h4.committeeMember {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

h4.committeeMember span {
    font-weight: 300;
}

h4.committeeMember img {
    padding-right: 10px;
}

h1.pageTitle {
	color: #fff;
    font-size: 44px;
    font-weight: 600;
    padding-top: 50px;	
}

.page-top-section {
    display: none !important;
}

.col-lg-2.col-md-6.float-right {
    float: right;
    position: absolute;
    right: 10px;
}

.footer-area .single-footer-widget .social-icons li a {
    display: inline-block;
    width: 45px !important;
    height: 45px !important;
    line-height: 45px !important;
    text-align: center;
    background: none !important;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 30px !important;
}

.footer-area .single-footer-widget .social-icons li {
    margin-left: 24px;
}

.footer-area .single-footer-widget .menu-list li {
    margin-bottom: 24px !important;
}

p.footerWhiteText {
    font-size: 18px;
    line-height: 14px;
    margin-top: 20px;
}

.single-footer-widget img {
    padding-bottom: 16px;
}

.row.footerCopyright {
    padding-top: 40px;
}

ul.menu-list li {
    padding-bottom: 0px;
}

ul.social-icons {
    float: right;
}

.single-footer-widget ul.menu-list {
    margin-left: 160px;
    padding-left: 20px;
    border-left: 4px solid #275CDC;
}

a.scrollDownBtn img {
    width: 5%;
}

.social-heading {
    max-width: 425px;
}

.mw-510 {
    max-width: 510px;
}

.pages #mobile-nav-toggle {
    z-index: 999999 !important;
    font-size: 34px !important;
	right: 15px !important;	
}

.version-blog #mobile-nav-toggle {
    z-index: 999999 !important;
    font-size: 34px !important;
	right: 15px !important;	
}

#mobile-nav-toggle i {
    color: #fff !important;
}

.parent-active button#mobile-nav-toggle {
    font-size: 34px !important;
}

img.poweredIcon {
    width: 100% !important;
}




@media (max-width: 1460px) {
	.col-lg-9.bgWhite {
		margin-left: 0;
	}
	h2.projectTitleh2 {
		padding-top: 32px;
	}
	p.projectBlurb {
		padding-bottom: 15px !important;
	}
}

@media (max-width: 1360px) {
	h2.projectTitleh2 {
		font-size: 40px;
		padding-top: 22px;
		color: #111;
		padding-left: 20px;
	}
}

@media (max-width: 1320px) {
	img.rightArrow {
		color: #fff;
		float: right;
		padding-top: 16px;
	}
	img.memberOrgLogo {
		width: 250px;
	}
	.single-footer-widget ul.menu-list {
		margin-left: 60px;
	}
	.paymentBox {
		height: 440px;
	}
	p.footerWhiteText {
		line-height: 28px;
	}	
}

@media (max-width: 1280px) {	
	.footer-area .single-footer-widget .social-icons li {
		margin-left: 0;
		margin-right: 16px;
	}
	h2.projectTitleh2 {
		font-size: 30px;
	}	
	a.githubBtn {
		padding: 18px 30px;
	}
	a.pdfButton {
		padding: 18px 30px;
	}	
}

@media (max-width: 1209px) {	
	p.projectBlurb {
		font-size: 13px;
		line-height: 24px;
		padding-bottom: 8px !important;		
	}
}

@media (max-width: 1140px) {	
	h2.projectTitleh2 {
		font-size: 24px;
		margin-bottom: -5px;
	}	
}


@media (max-width: 1105px) {	
	.paymentBox {
		height: 480px;
	}
}

@media (max-width: 993px) {
	.paymentBox {
		height: auto;
		margin-bottom: 40px;
	}
	.col-lg-8.digitalMoney {
		max-width: 100%;
		width: 100%;
		padding-left: 20px;
	}
	#header2.header-scrolled {
		transition: all 0.5s;
		background: #111 !important;
		box-shadow: none !important;
	}
	#header2.header-scrolled {
		transition: all 0.5s;
		background: #111 !important;
		box-shadow: none !important;
	}	
	h2.projectTitleh2 {
		font-size: 44px;
		padding-top: 42px;
		color: #111;
		padding-left: 20px;
	}	
	p.projectBlurb {
		font-size: 14px;
		line-height: 30px;
		padding-bottom: 18px !important;
	}
}

@media (max-width: 768px) {
	h4.committeeMember {
		font-size: 16px !important;
	}
	.col-lg-9.bgWhite {
		background: #fff;
		margin-left: 20px;
		padding-bottom: 50px;
	}
	.row.projectsRow .col-lg-3 img {
		display: none;
	}
	h2.committeeTitle {
		margin-top: 40px;
	}
	img.poweredIcon {
		width: 100%;
		margin-bottom: 40px;
	}
	h2.ctaBottom {
		padding: 10px;
		margin-bottom: 20px;
	}
	.ctaBox {
		padding: 60px;
	}
	a.buttonSubmit {
		position: relative;
		left: 300px;
		top: -56px;
	}
	.paymentBox {
		background: #222;
		height: auto !important;
		padding: 40px;
		text-align: center;
		margin-bottom: 40px;
	}
	h2.subTitle {
		color: #fff;
		font-size: 30px;
		line-height: 50px;
		font-weight: 400;
		padding: 20px 0 30px 0;
	}
	a.contactEmail {
		display: inline;
		font-size: 18px;
		color: #275CDC;
	}
	#header #logo img {
		width: auto !important;	
		height: 56px !important;
		max-height: 56px !important;
	}
	#header2 #logo .logo-1 {
		width: auto !important;
		height: 56px !important;
	}	
	.activeLink {
		border-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
	.single-footer-widget ul.menu-list {
		margin-left: 0px;
		padding-left: 20px;
		border-left: 4px solid #275CDC;
	}
	.footer-area .single-footer-widget .social-icons li {
		margin-right: 15px;
		margin-left: 0px !important;
	}
	ul.social-icons {
		float: left;
	}
	a.privacyLink {
		margin-top: 50px;
	}
	input.inputDefault {
		width: 100% !important;
	}
	.newsletterSection .boxPara {
		width: auto !important;
	}
	.newsletterForm {
		margin-left: 0;
	}	
	.col-lg-8.digitalMoney {
		max-width: 100%;
		padding-left: 20px;
	}	
	
}


@media (max-width: 450px) {
	h2.subTitle.paddingBottom60.committees {
		padding-bottom: 0px;
		margin-bottom: -40px;
	}
	h4.committeeMember {
		font-size: 16px !important;
	}	
	h4.committeeMember {
		font-size: 16px !important;
	}
	a.blueButton img {
		margin-left: 6px;
		width: 10%;
	}
	.col-lg-6.lowerRowRight {
		margin-top: 40px;
		margin-bottom: 20px !important;
	}
	h2.subTitle.projects {
		font-size: 24px !important;
	}
	img.submitArrow {
		width: 15%;
		padding-left: 10px;
		margin-top: -2px;
	}
	.hero-section .fullscreen {
		height: 100% !important;
		min-height: 736px !important;
	}
	.version1-1 .hero-section .content-wrap {
		margin-bottom: 10px;
	}
	h2.subTitle {
		font-size: 36px;
		line-height: 50px;
	}
	a.scrollDownBtn img {
		width: 16%;
	}
	.col-lg-8.digitalMoney {
		width: 100% !important;
		padding-left: 24px;
	}
	.paymentBox {
		margin-bottom: 40px;
	}
	img.rightArrow {
		color: #fff;
		float: right;
		padding-top: 10px;
		width: 16%;
	}
	img.poweredIcon {
		width: 100%;
		margin-bottom: 34px;
	}
	h2.committeeTitle {
		padding-top: 40px;
	}
	h2.subTitle {
		font-size: 40px;
	}
	img.memberOrgLogo {
		max-width: 200px;
	}
	span.readMore {
		margin-top: 20px;
	}
	.newsletterSection h2 {
		font-size: 32px;
	}	
	.ctaBox {
		padding: 40px;
	}
	h2.ctaBottom {
		margin-bottom: 20px;	
		padding: 0;
		line-height: 44px;
		font-size: 28px;
		color: #fff;
	}
	a.githubBtn {
		margin-bottom: 20px;
		display: block;
		width: 100%;
		margin-left: 0px !important;
		text-align: center;
	}
	a.pdfButton {
		margin-bottom: 10px;
		display: block;
		width: 100%;
		margin-left: 0px !important;
		text-align: center;
	}	
	.row.projectsRow .col-lg-3 img {
		display: none !important;
	}
	a.buttonSubmit {
		position: relative;
		left: 130px;
		top: -55px;
	}
	.newsletterForm {
		margin-left: 0;
	}	
	.newsletterSection .boxPara {
		width: auto !important;
	}
	input.inputDefault {
		width: 100% !important;
	}
	.col-lg-9.bgWhite {
		background: #fff;
		margin-left: 0;
	}
	.container {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
	form#myForm {
		padding: 30px;
		background: #222;
		margin-top: 50px;
	}
	h2.footerBlueText {
		text-align: left;
		padding-left: 36px;
	}
	.footer-area .single-footer-widget .social-icons li a {
		display: inline-block;
		width: 35px !important;
		height: 35px !important;
		line-height: 35px !important;
		text-align: center;
		background: none !important;
		color: #fff;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		font-size: 26px !important;
		margin-top: 30px;
	}
	p.footerWhiteText {
		font-size: 18px;
		line-height: 26px;
		margin-top: 20px;
	}
	section.blog-post .container {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}
	.blog-post .head {
		font-size: 40px !important;
	}	
	.pages .col-lg-6.lowerRowRight {
		margin-top: 90px;
		margin-bottom: 20px !important;
	}	
}

@media (max-width: 366px) {
	h4.committeeMember {
		font-size: 16px !important;
	}
	img.memberOrgLogo {
		max-width: 180px;
	}	
	img.rightArrow {
		color: #fff;
		float: right;
		padding-top: 18px;
		width: 12%;
	}
}



