/*--------------------------------------------------------------
# Elements 
--------------------------------------------------------------*/

::-webkit-input-placeholder { /* Edge */
  color: #93A6BB;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #93A6BB;
}

::placeholder {
  color: #93A6BB;
}

body {
	background: #111;
}

.pages #header {
	background: #111 !important;
}

#header.header-scrolled {
    transition: all 0.5s;
    background: #fff;
    box-shadow: none !important; 
}

.col-lg-6.lowerRowRight {
    margin-bottom: -70px !important;
}

.col-lg-6.lowerRowLeft {
    margin-bottom: -20px !important;
}

a.partnerLink {
    margin-right: 50px;
    position: relative;
    top: 60px;
}

@media(max-width: 992px) {
	a.privacyLink {
		color: #fff;
		font-weight: 400;
		letter-spacing: 0.3px;
		display: block;
		float: left;
		width: 100%;
		margin-bottom: 10px;
	}
	p.copyrightArea {
		color: #fff;
		font-weight: 400;
		letter-spacing: 0.3px;
		display: block;
		float: left;
		width: 100%;
	}
	.col-lg-6.lowerRowRight {
		margin-top: 60px;
	}	
}

@media(max-width: 767px) {
	.parent-active .content-wrap h1 {
		margin-bottom: 20px;
		margin-top: -120px;
	}	
}

@media(max-width: 480px) {
	.parent-active .hero-section {
		padding: 0 !important;
	}
	.parent-active .content-wrap h1 {
		margin-bottom: 20px;
		margin-top: -100px;
	}	
	a.partnerLink {
		margin-right: 50px;
		margin-bottom: 30px;
		display: block;
	}	
}

.header-scrolled .nav-menu a {
    color: #fff;
}

.col-lg-6.lowerRowRight {
    margin-top: 90px;
}

.blueArea .row {
    margin: 0 auto !important;
}

.blueArea {
    display: block;
    width: 100%;
    background: #275CDC;
    padding-top: 60px;
    padding-bottom: 60px;
}

h2.footerBlueText {
    color: #fff;
    font-size: 44px;
}

.boardMember img {
    width: 100%;
}

.parent-active .col-lg-12.content-wrap {
    margin-top: 250px;
}

p.copyrightArea {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;
    display: inline;	
    float: right;	
}

a.privacyLink {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.3px;	
    margin-left: 50px;
    display: inline;	
    float: right;
}

img.partnerLogos {
    padding-right: 50px;
	margin-top: 50px;
}
a.partnerLink:hover {
    opacity: 0.7;
}

.section-gap {
    padding: 100px 0;
    @media(max-width: 991px) {
        padding: 60px 0px;
    }
}

.container-fluid.paddingHero {
    padding-left: 3%;
    padding-right: 3%;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.aquablue-bg {
    background: $offwhite;
}

.gradient-bg {
    @extend .d1-gradient-bg;
}

.gradient-bg2 {
    @extend .d3-gradient-bg;
}

.gradient-bg4 {
    @extend .d4-gradient-bg;
}

.section-title-wrap {
    text-align: center;
    margin-bottom: 80px;
    .title-img {
        margin-bottom: 30px;
        position: relative;
        padding-bottom: 15px;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0px;
            @include transform(translateX(-50%));
            background: $offwhite;
            height: 3px;
            width: 80px;
        }
    }
    h1 {
        font-size: 36px;
        font-weight: 500;
        color: $title-color;
    }
    p {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

.d1-gradient-bg {
    background-image: -moz-linear-gradient( 110deg, $primary-color 0%, $primary-color2 100%);
    background-image: -webkit-linear-gradient( 110deg, $primary-color 0%, $primary-color2 100%);
    background-image: -ms-linear-gradient( 110deg, $primary-color 0%, $primary-color2 100%);
}

.d2-gradient-bg {
    background-image: -moz-linear-gradient( 0deg, rgb(95, 185, 253) 0%, rgb(114, 227, 166) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(95, 185, 253) 0%, rgb(114, 227, 166) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(95, 185, 253) 0%, rgb(114, 227, 166) 100%);
}

.d3-gradient-bg {
    background-image: -moz-linear-gradient(0deg, rgb(44, 0, 255) 0%, rgb(163, 82, 245) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(44, 0, 255) 0%, rgb(163, 82, 245) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(44, 0, 255) 0%, rgb(163, 82, 245) 100%);
}

.d4-gradient-bg {
    background-image: -moz-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
    background-image: -webkit-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
    background-image: -ms-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
}

.v3-gradient-bg {
    background-image: -moz-linear-gradient( 0deg, rgb(20, 29, 162) 0%, rgb(139, 62, 251) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(20, 29, 162) 0%, rgb(139, 62, 251) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(20, 29, 162) 0%, rgb(139, 62, 251) 100%);
}

.genric-btn {
    background: $offwhite;
    color: $title-color;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    &:hover {
        @extend .d1-gradient-bg;
        color: $white;
    }
}

.genric-btn2 {
    @extend .d1-gradient-bg;
    color: $white;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    padding: 0px 34px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    height: 50px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
    @include transition();
    &:hover {
        background: $offwhite;
        color: $title-color;
    }
}

.genric-btn3 {
    background-color: #ffffff;
    color: $title-color;
    border: 0px;
    padding: 0px 34px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    display: inline-block;
    z-index: 1;
    max-width: 100%;
    font-weight: 600;
    border: none;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    @include transition();
    &:hover {
        &:hover {
            @extend .d1-gradient-bg;
            color: $white;
        }
    }
}

.pr-btn2 {
    margin: 0px 5px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    @extend .d3-gradient-bg;
    border: 1px solid #bed2f0 !important;
    color: $white !important;
    &:hover {
        @extend .d3-gradient-bg;
        color: $white !important;
    }
    @media(max-width:413px) {
        font-size: 12px;
    }
}

.container {
    max-width: 1674px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

@media only screen and (max-width: 1320px) {
	.paymentBox {
		height: 450px;
	}
}



img.submitArrow {
    width: 5%;
    padding-left: 10px;
}

form#myForm button.genric-btn.mt-30 {
    background: #275CDC;
    width: 100%;
    height: 80px;
    color: #fff;
    font-size: 20px;
    text-transform: none;
    font-weight: 500;
}

a.contactPhone {
	display: inline;
    font-size: 24px;
    color: #275CDC;
}

a.contactEmail {
	display: inline;
    font-size: 24px;
    color: #275CDC;
}

h2.subTitle.contactText {
    font-size: 34px;
    line-height: 44px;
}

form#myForm {
    padding: 50px;
    background: #222;
    margin-top: 50px;
}

form#myForm label {
    color: #fff;
    font-size: 18px;
}

form#myForm input {
    height: 70px;
    border-radius: 0px;
    border-color: #C8CFD7 !important;
	background: #fff !important;
}

form#myForm textarea {
    border-radius: 0px;
    border-color: #C8CFD7 !important;
	background: #fff !important;	
}

h2.projectTitleh2 {
    font-size: 44px;
    padding-top: 20px;
    color: #111;
    padding-left: 40px;
	font-weight: 500;
	letter-spacing: -0.4px;
}

.col-lg-9.bgWhite {
    background: #fff;
    margin-left: -47px;	
}

a.pdfButton {
    border: 1px solid #275CDC;
    padding: 21px 30px;
    margin-left: 14px;
}

a.pdfButton img {
    padding-right: 8px;
}

a.githubBtn {
    background: #275CDC;
    color: #fff;
    padding: 22px 30px;
    margin-left: 20px;
}

a.githubBtn img {
    padding-right: 8px;
}

h2.projectTitleh2 {
    font-size: 44px;
    padding-top: 42px;
    color: #111;
    padding-left: 20px;
}

p.projectBlurb {
    color: #111;
    padding-left: 20px;
    font-size: 14px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 30px;	
	padding-right: 20px;
}

.row.projectsRow .col-lg-3 {
    padding-right: 0px !important;
}

.active2 {
    background: white;
    color: $black !important;
}

section.pageTitleSection {
    background: url(/MobileCoin/img/bg-spiral.svg) no-repeat;
    background-position: right;
    background-position-y: 80px;	
}

footer.footer-area {
    background: url(/MobileCoin/img/footer-bg.jpg) no-repeat;
	background-size: cover;	
}

.col-lg-8.digitalMoney {
    max-width: 700px;
    padding-left: 120px;
}

p.smallPara.paddingBottom {
    padding-bottom: 20px;
}

a.blueButton {
    background: #275CDC;
    color: #fff;
    padding: 20px 40px;
}

a.blueButton img {
    margin-left: 6px;
    width: 5%;
}

a.scrollDown {
    margin-left: 24px;
    font-size: 20px;
    font-weight: 500;	
}

.greyDivider {
    color: #999 !important;
    margin: 30px 0;
    z-index: 99999 !important;
    background: #999 !important;
}

section.projects-section.section-gap {
    padding-top: 0px;
}

.row.projectsRow {
    margin-bottom: 72px;
}

.scrollArea a {
	display: inline;
	color: #275CDC;
}

.paymentBox {
    background: #222;
    height: 380px;
    padding: 40px;
	text-align: center;	
}

h2.subTitle.paddingBottom60 {
    padding-bottom: 48px;
}

h4.boxTitle {
	color: #fff;
    padding: 40px 0 10px 0;
}

.partnerLink img {
	display: inline;
}

.paymentBox img {
    min-height: 90px;
}

.partnersBox {
	color: #fff;
	background: #222;
    padding: 40px;
    margin-bottom: 30px;	
	transition: all .2s ease-in-out;		
}

.partnersBox:hover {
    transform: scale(0.98);
}

.newsletterSection p {
    color: #fff !important;
}

h2.committeeTitle {
    color: #fff;
    font-weight: 400;
    margin-top: -20px;
    padding-bottom: 16px;
}

img.rightArrow {
	color: #fff;
    float: right;
    padding-top: 40px;	
}

p.boxPara {
    font-size: 14px;
    color: #fff;	
}

img.newsArrow {
    width: 3%;
    margin-left: 5px;
    margin-top: -2px;
}

.col-lg-12.newsBox {
    background: #fff;
    margin-top: 40px;
    padding: 48px;
    margin-right: 15px;
    margin-left: 15px;
}

h4.newsTitle {
    padding: 20px 0;
    font-size: 26px;
    font-weight: 600;
}


.border-top {
    border-top: 1px solid $aquablue-color;
}

.divider-gap {
	padding: 0;
}

.partnersBox p {
	padding-top: 24px;
	margin-bottom: 0px;
}

.blueBar {
    background: #275CDC;
	width: 100%;
    padding: 20px;	
}

h4.boardTitle {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding-top: 5px;	
}

.ctaBox {
    border: 1px solid #C8CFD7;
    max-width: 1238px;
    margin: 0 auto;
    padding: 80px 80px 100px 80px;
}

h2.ctaBottom {
    padding: 20px 40px 40px 40px;
    line-height: 64px;
    font-size: 44px;
	color: #fff;
}

a.ctaLink {
    color: #275CDC;
    font-size: 20px;
    font-weight: 500;
}

a {
	color: #275CDC;
}

.textCenter {
	text-align: center;
}

input.inputDefault {
    height: 80px;
    border: 0;
	outline: 0;
    padding: 20px;
    width: 700px;
    background: #fff;	
}

.newsletterForm {
	margin-left: 40px;
}

a.buttonSubmit {
    position: relative;
    left: -60px;
}

.inputDefault {
    flex: 1;
}

.newsletterSection .boxPara {
	width: 685px;
	margin: 0 auto;
	padding-bottom: 46px;
	letter-spacing: 0.4px;
}

h2.subTitle.paddingDown {
    padding-bottom: 10px;
}

h3.boardName {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

section.section-gap.customPadding {
    padding-top: 0px;
}

img.blue-divider {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2.subTitle {
    color: #fff;
    font-size: 44px;
    line-height: 64px;	
    font-weight: 500;
    padding: 20px 0 30px 0;	
}

.col-lg-3.memberBlock {
    margin-bottom: 30px;
}

p.subPara {
    color: #fff;
    font-size: 24px;
    line-height: 48px;
}

p.smallPara {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    padding-bottom: 40px;	
    letter-spacing: 0.4px;
    font-weight: 300;	
}

h4.committeeMember {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
}

h4.committeeMember span {
    font-weight: 300;
}

h4.committeeMember img {
    padding-right: 10px;
}

h1.pageTitle {
	color: #fff;
    font-size: 44px;
    font-weight: 600;
    padding-top: 50px;	
}

.page-top-section {
    display: none !important;
}

.col-lg-2.col-md-6.float-right {
    float: right;
    position: absolute;
    right: 10px;
}

.footer-area .single-footer-widget .social-icons li a {
    display: inline-block;
    width: 45px !important;
    height: 45px !important;
    line-height: 45px !important;
    text-align: center;
    background: none !important;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 30px !important;
}

.footer-area .single-footer-widget .social-icons li {
    margin-left: 24px;
}

.footer-area .single-footer-widget .menu-list li {
    margin-bottom: 24px !important;
}

p.footerWhiteText {
    font-size: 18px;
    line-height: 14px;
    margin-top: 20px;
}

.single-footer-widget img {
    padding-bottom: 16px;
}

.row.footerCopyright {
    padding-top: 40px;
}

ul.menu-list li {
    padding-bottom: 0px;
}

ul.social-icons {
    float: right;
}

.single-footer-widget ul.menu-list {
    margin-left: 160px;
    padding-left: 20px;
    border-left: 4px solid #275CDC;
}

a.scrollDownBtn img {
    width: 5%;
}

.social-heading {
    max-width: 425px;
}

.mw-510 {
    max-width: 510px;
}

.cta-section {
    padding: 100px 0px;
    h1 {
        @media(max-width: 1199px)and(min-width: 991px) {
            font-size:30px;
        }
    }
    @media(max-width:991px) {
        .justify-content-end {
            justify-content: flex-start !important;
        }
        .cta-btn {
            margin-top: 30px;
        }
    }
}

    .ct-btn1 {
        background: #ffffff;
        color: $title-color;
        height: 48px;
        line-height: 46px;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 0px 34px;
        font-size: 12px;
        text-transform: uppercase;
        max-width: 100%;
        font-weight: 600;
        border: 2px solid #ffffff;
        text-align: center;
        overflow: hidden;
        @include transition();
        &:hover {
            background: transparent;
            color: #fff;
        }
    }
    .ct-btn2 {
        background: transparent;
        color: #fff;
        height: 48px;
        line-height: 46px;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 0px 34px;
        font-size: 12px;
        text-transform: uppercase;
        max-width: 100%;
        font-weight: 600;
        border: 2px solid #ffffff;
        text-align: center;
        overflow: hidden;
        @include transition();
        &:hover {
            background: #ffffff;
            color: $title-color;
        }
    }

.version1-1 {
    .ct-btn {
        margin: 0px 5px;
        @extend .d2-gradient-bg;
        color: $white;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            @include transition();
            &:hover {
                @extend .d2-gradient-bg;
                border-color: transparent;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version2 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();
            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version3 {
    .ct-btn {
        margin: 0px 5px;
        @extend .d2-gradient-bg;
        color: $white;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            @include transition();
            &:hover {
                @extend .d2-gradient-bg;
                border-color: transparent;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version4 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();
            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version7 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();
            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version8 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();
            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.version9 {
    .ct-btn {
        margin: 0px 5px;
        background: $white;
        color: $black;
        position: relative;
        display: inline-block;
        z-index: 1;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 25px;
        font-size: 14px;
        text-transform: uppercase;
        border: 1px solid transparent;
        @include transition();
        &.active {
            background: rgba($white, .2);
            border-color: $white;
            color: $white;
            @include transition();
            &:hover {
                background: $white;
                color: $black;
                border-color: $white;
            }
        }
        @media(max-width:413px) {
            font-size: 12px;
        }
    }
}

.stat-section {
    .section-title-wrap {
        margin-bottom: 20px;
    }
}

.single-stat {
    margin-top: 60px;
    h4 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: 500;
        color: #1e283c;
    }
    p {
        max-width: 320px;
        margin-bottom: 0px;
    }
}

.active-dash-carusel,
.social-right {
    @media(max-width: 991px) {
        margin-top:50px;
    }
}
.social-section {
	h1 {
		font-size: 48px;
		font-weight: 500;
	}
	p {
		padding: 30px 0px;
    max-width: 500px;
	}
}