
//    Font Family

$primary-font	: 'Poppins', sans-serif;

// --------------------------- Color variations ----------------------

$primary-color	: #275CDC;
$primary-color2	: #275CDC;
$title-color	: #111111;
$text-color		: #111111;
$aquablue-color : #275CDC;

$white			: #ffffff;
$offwhite		: #f2f5fa;
$black			: #111111;