

    
    <div class="nav-wrap d-flex flex-row align-items-center">
    <nav id="nav-menu-container">
	{% assign current = page.url | downcase | split: '/' %}		
		<ul class="nav-menu">
			<li><a href='/index' {% if current[1] == 'home' %}class='menu-active'{% endif %}>Home</a></li>
			<li><a href='/about' {% if current[1] == 'about' %}class='menu-active'{% endif %}>About</a></li>
			<li><a href='/projects' {% if current[1] == 'projects' %}class='menu-active'{% endif %}>Projects</a></li>
        </ul>
    </nav>

</div>
<!-- #nav-menu-container -->

