

    
    <div class="nav-wrap d-flex flex-row align-items-center">
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="activeMenuItem">
                <a class="activeMenu" href="{{ 'home' | relative_url }}">Home</a>
            </li>

            <li>
                <a href="{{ 'about' | relative_url }}">About</a>
            </li>

            <li>
                <a href="{{ 'projects' | relative_url }}">Projects</a>
            </li>
			
            <li>
                <a href="{{ 'news' | relative_url }}">News</a>
            </li>
			
            <li>
                <a href="{{ 'involved' | relative_url }}">Get Involved</a>
            </li>
        </ul>
    </nav>

</div>
<!-- #nav-menu-container -->

