
    <!-- Start hero-section -->
    <section class="hero-section relative">
        <div class="container-fluid paddingHero">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-12 content-wrap">
                    <h1>
                      Private payments for everyone.
                    </h1>
                </div>
                <div class="col-lg-12 logos">
					<a class="partnerLink" href="javascript:void(0)"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="/MobileCoin/members/thelongnow"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>
					<a class="partnerLink" href="/MobileCoin/members/dreamhost"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter3.svg"></object></a>	
					<a class="partnerLink" href="/MobileCoin/members/blockdaemon"><img src="{{ 'img/partnerFooter4.png' | relative_url }}" /></a>
					<a class="partnerLink" href="/MobileCoin/members/ideasbeyondborders"><img src="{{ 'img/partnerFooter5.png' | relative_url }}" /></a>
					<a class="partnerLink" href="/MobileCoin/members/cast"><img src="{{ 'img/partnerFooter6.svg' | relative_url }}" /></a>
				</div>
	            <div class="col-lg-12 lowerRowRight">				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>					
				</div>
            </div>
        </div>
    </section>
    <!-- End hero-section -->
