
    <!-- Start hero-section -->
    <section class="hero-section relative">
        <div class="container-fluid paddingHero">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-12 content-wrap">
                    <h1>
                      Private payments for everyone.
                    </h1>
                </div>
                <div class="col-lg-12 logos">
					<a class="partnerLink" href="/MobileCoin/members/mobilecoin"><object type="image/svg+xml" data="/MobileCoin/img/logo-mc.svg"></object></a>
					<a class="partnerLink" href="/MobileCoin/members/thelongnow"><object type="image/svg+xml" data="/MobileCoin/img/logo-long.svg"></object></a>
					<a class="partnerLink" href="/MobileCoin/members/dreamhost"><object type="image/svg+xml" data="/MobileCoin/img/logo-dream.svg"></object></a>	
					<a class="partnerLink" href="/MobileCoin/members/blockdaemon"><object type="image/svg+xml" data="/MobileCoin/img/logo-block.svg"></a>
					<a class="partnerLink" href="/MobileCoin/members/ideasbeyondborders"><object type="image/svg+xml" data="/MobileCoin/img/logo-ideas.svg"></a>
					<a class="partnerLink" href="/MobileCoin/members/cast"><object type="image/svg+xml" data="/MobileCoin/img/logo-cast.svg"></a>
					<a class="partnerLink" href="/MobileCoin/members/arrington"><object type="image/svg+xml" data="/MobileCoin/img/logo-arrington.svg"></a>	
					<a class="partnerLink" href="/MobileCoin/members/fightforthefuture"><object type="image/svg+xml" data="/MobileCoin/img/logo-future.svg"></a>						
				</div>
	            <div class="col-lg-12 lowerRowRight">				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>					
				</div>
            </div>
        </div>
    </section>
    <!-- End hero-section -->
