
    <!-- Start hero-section -->
    <section class="hero-section relative">
        <div class="container-fluid paddingHero">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-12 content-wrap">
                    <h1>
                       Cryptocurrency designed for you.<br>Private payments for everyone.
                    </h1>
                    <hr class="dividerBlue"></hr>
					<br>
					<p class="pt-20 pb-20 mw-510">
                        MobileCoin stops corporations that track your spending.
                    </p>
                </div>
                <div class="col-lg-12">
					<img class="partnerLogos" src="/MobileCoin/img/partnerFooter1.png" />
					<img class="partnerLogos" src="/MobileCoin/img/partnerFooter2.png" />					
				</div>
            </div>
        </div>
    </section>
    <!-- End hero-section -->
