
    <!-- About Page Title -->
    <section class="pageTitleSection section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
                    <h1 class="pageTitle">About</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <h2 class="subTitle">Payment technology designed for you</h2>
					<p class="subPara">MobileCoin is payments technology built for you. In a perfect world, money would be secure, fast, and almost invisible. This is the story of how a few people banded together to summon the future they imagine into the present so that we could live in a better tomorrow.</p>
					<p class="smallPara">Whether you are spending or saving, the most important thing about money is trust. We designed MobileCoin with the best security available today so you can trust that your money is right where you expect it to be. When you want to pay for something, you want it now. MobileCoin transactions complete in seconds. When you want to pay for something, you don't want to be tracked, unless you consent. It is money that puts your privacy first, designed to be used by people like you for every transaction, every day.</p>
					<hr class="greyDivider"></hr>
					<div class="scrollArea">
						<a class="scrollDownBtn" href="#scrollDown"><img src="{{ 'img/scrollDown.svg' | relative_url }}" /></a>
						<a class="scrollDown" href="#scrollDown">Scroll down for more</a>
					</div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Page Title -->

    <!-- Digital Money -->
    <section id="scrollDown" class="about-section section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <img class="img-fluid" src="{{ 'img/about-image-one.png' | relative_url }}" alt="">
                </div>                
				<div class="col-lg-8 digitalMoney">
                    <h2 class="subTitle">Digital Money</h2>
					<p class="smallPara paddingBottom">It seems inevitable that digital money will eventually replace physical currency. At MobileCoin, we believe governments have a legitimate interest in regulating the economic lives of their citizens. </p>
					<p class="smallPara">Good monetary policies help keep economies healthy and currency controls help fight criminals and terrorists. Our job is to create high performance digital payments technology that can transparently encompass the tradeoffs that societies choose.</p>
                    <a href="#" class="blueButton">View Projects <img src="{{ 'img/arrow-right.svg' | relative_url }}" /></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Digital Money -->
	

    <!-- Private Payments, Simplified -->
    <section class="section-gap">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Private Payments, Simplified</h2>					
                </div>
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon1.svg' | relative_url }}" />
						<h4 class="boxTitle">Easy Wallet Recovery</h4>
						<p class="boxPara">Securely recover your wallet if you lose your phone, without trusting a provider with your private keys.</p>
					</div>					
                </div>	
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon2.svg' | relative_url }}" />
						<h4 class="boxTitle">Fast Transactions</h4>
						<p class="boxPara">Most transactions complete in less than ten seconds, so payments happen instantly. Like payments should.</p>
					</div>					
                </div>
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon3.svg' | relative_url }}" />
						<h4 class="boxTitle">Total Privacy</h4>
						<p class="boxPara">The entire ledger is opaque, individual transactions are cryptographically protected, and the network uses forward-secrecy.</p>
					</div>					
                </div>
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon4.svg' | relative_url }}" />
						<h4 class="boxTitle">User & Planet Friendly</h4>
						<p class="boxPara">Easy to use security at scale, without the massive electrical waste.</p>
					</div>					
                </div>				
            </div>
        </div>
    </section>
    <!-- End Private Payments, Simplified -->	
	

    <!-- Divider -->
    <section class="divider-gap">
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<hr class="greyDivider"></hr>
                </div>				
            </div>
        </div>
    </section>
    <!-- End Divider -->	
	
	
    <!-- Partners -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Partners</h2>					
                </div>
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="partnerLink"><img src="{{ 'img/PartnerLogo1.svg' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-black.svg' | relative_url }}" /></a>
						<p class="boxPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					</div>					
                </div>	
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="partnerLink"><img src="{{ 'img/PartnerLogo2.svg' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-black.svg' | relative_url }}" /></a>
						<p class="boxPara">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
					</div>					
                </div>			
            </div>
        </div>
    </section>
    <!-- End Partners -->	
	
	
    <!-- Board Members -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Board Members</h2>	
                </div>
				<div class="col-lg-3">
                    <div class="boardMember">
						<img src="{{ 'img/boardMember1.png' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Richard Smith</h3>
						<h4 class="boardTitle">Managing Director</h4>
					</div>					
                </div>	
				<div class="col-lg-3">
                    <div class="boardMember">
						<img src="{{ 'img/boardMember2.png' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Jason Pritchard</h3>
						<h4 class="boardTitle">CEO</h4>
					</div>					
                </div>
				<div class="col-lg-3">
                    <div class="boardMember">
						<img src="{{ 'img/boardMember3.png' | relative_url }}" />
					</div>	
					<div class="blueBar">
						<h3 class="boardName">Heather Favos</h3>
						<h4 class="boardTitle">COO</h4>
					</div>						
                </div>
				<div class="col-lg-3">
                    <div class="boardMember">
						<img src="{{ 'img/boardMember4.png' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Thomas Roberts</h3>
						<h4 class="boardTitle">CTO</h4>
					</div>					
                </div>				
            </div>
        </div>
    </section>
    <!-- End Board Members -->		
	
	

    <!-- Divider -->
    <section class="divider-gap">
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<hr class="greyDivider"></hr>
                </div>				
            </div>
        </div>
    </section>
    <!-- End Divider -->		
	
	
	
    <!-- Subscribe -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12 textCenter newsletterSection">
                    <h2 class="subTitle paddingDown">Subscribe To Our Newsletter</h2>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
					<p class="boxPara">If you are interested in getting updated with our latest news submit your email address in the box below to subscribe to the MobileCoin Foundation newsletter.</p>
                </div>
				<div class="col-lg-12 textCenter">
					<form action="" method="post" class="newsletterForm">
						<input class="inputDefault" type="text" id="" name="" value="" placeholder="Enter your email address">
						<a href="#" class="buttonSubmit"><img src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></a>
					</form>
                </div>					
            </div>
        </div>
    </section>
    <!-- End Subscribe -->	



    <!-- Call to Action Next Page -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12 textCenter">
					<div class="ctaBox">
						<h2 class="ctaBottom">Are you interested in checking out the latest MobileCoin Foundation projects?</h2>
						<a href="projects.html" class="ctaLink">Click here to view the projects page <img src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></a>
					</div>
                </div>					
            </div>
        </div>
    </section>
    <!-- End Call to Action Next Page -->		
	
	
	