
    <!-- About Page Title -->
    <section class="pageTitleSection section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
                    <h1 class="pageTitle">About</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <h2 class="subTitle">Payment technology designed for you</h2>
					<p class="subPara">In a perfect world, money would be secure, fast, and almost invisible. This is the story of how a few people banded together to summon the future they imagine into the present.</p>
					<p class="smallPara">Whether you are spending money or saving money, the most important consideration is trust. We designed MobileCoin with the best security available today, so you can trust that your money is right where you expect it to be. When you want to pay for something, you want it now. MobileCoin transactions complete in seconds. When you want to pay for something, you don't want to be tracked without consent. MobileCoin is money that puts your privacy first, designed to be used by people like you for every transaction, every day.</p>
					<hr class="greyDivider"></hr>
					<div class="scrollArea">
						<a class="scrollDownBtn" href="#scrollDown"><img src="{{ 'img/scrollDown.svg' | relative_url }}" /></a>
						<a class="scrollDown" href="#scrollDown">Scroll down for more</a>
					</div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Page Title -->

    <!-- Digital Money -->
    <section id="scrollDown" class="about-section section-gap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <img class="img-fluid" src="{{ 'img/about-image-one.png' | relative_url }}" alt="">
                </div>                
				<div class="col-lg-8 digitalMoney">
                    <h2 class="subTitle">Digital Money</h2>
					<p class="smallPara paddingBottom">It seems inevitable that digital money will eventually replace physical currency. At MobileCoin, we believe governments have a legitimate interest in regulating the economic lives of their citizens. </p>
					<p class="smallPara">Good monetary policies help keep economies healthy and currency controls help fight criminals and terrorists. Our job is to create high performance digital payments technology that can transparently encompass the tradeoffs that societies choose.</p>
                    <a href="/MobileCoin/projects" class="blueButton">View Projects <img src="{{ 'img/arrow-right.svg' | relative_url }}" /></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Digital Money -->
	

    <!-- Private Payments, Simplified -->
    <section class="section-gap">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Private Payments, Simplified</h2>					
                </div>
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon1.svg' | relative_url }}" />
						<h4 class="boxTitle">Easy Wallet Recovery</h4>
						<p class="boxPara">Securely recover your wallet if you lose your phone, without trusting a provider with your private keys.</p>
					</div>					
                </div>	
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon2.svg' | relative_url }}" />
						<h4 class="boxTitle">Fast Transactions</h4>
						<p class="boxPara">Most transactions complete in less than ten seconds, so payments happen instantly. Like payments should.</p>
					</div>					
                </div>
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon3.svg' | relative_url }}" />
						<h4 class="boxTitle">Total Privacy</h4>
						<p class="boxPara">The entire ledger is opaque, individual transactions are cryptographically protected, and the network uses forward-secrecy.</p>
					</div>					
                </div>
				<div class="col-lg-3">
                    <div class="paymentBox">
						<img src="{{ 'img/paymentBox-icon4.svg' | relative_url }}" />
						<h4 class="boxTitle">User & Planet Friendly</h4>
						<p class="boxPara">Easy to use security at scale, without the massive electrical waste.</p>
					</div>					
                </div>				
            </div>
        </div>
    </section>
    <!-- End Private Payments, Simplified -->	
	

    <!-- Divider -->
    <section class="divider-gap">
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<hr class="greyDivider"></hr>
                </div>				
            </div>
        </div>
    </section>
    <!-- End Divider -->		
	
	
	
    <!-- Board Members 
	
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Board Members</h2>	
                </div>
				<div class="col-lg-3 memberBlock">
                    <div class="boardMember">
						<img src="{{ 'img/member-pic-josh.jpg' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Josh Goldbard</h3>
					</div>					
                </div>	
				<div class="col-lg-3 memberBlock">
                    <div class="boardMember">
						<img src="{{ 'img/member-pic-sarah.jpg' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Sarah Novotny</h3>
					</div>					
                </div>
				<div class="col-lg-3 memberBlock">
                    <div class="boardMember">
						<img src="{{ 'img/member-pic-dbray.jpg' | relative_url }}" />
					</div>	
					<div class="blueBar">
						<h3 class="boardName">David Bray</h3>
					</div>						
                </div>
				<div class="col-lg-3 memberBlock">
                    <div class="boardMember">
						<img src="{{ 'img/member-pic-renee.jpg' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Renee DiResta</h3>
					</div>					
                </div>
				<div class="col-lg-3 memberBlock">
                    <div class="boardMember">
						<img src="{{ 'img/member-placeholder.jpg' | relative_url }}" />
					</div>
					<div class="blueBar">
						<h3 class="boardName">Alex Feerst</h3>
					</div>					
                </div>				
            </div>
        </div>
    </section>
	
   -->		
	
	
	
    <!-- Member Orgs -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Member Orgs</h2>					
                </div>
				
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="/MobileCoin/members/thelongnow"><img class="memberOrgLogo" src="{{ 'img/memberlogo-longnow.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>				
				
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="/MobileCoin/members/blockdaemon"><img class="memberOrgLogo" src="{{ 'img/membernow-blockdaemon.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>					
				
				<!--
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/memberlogo-dreamhost.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>	
				
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/membernow-fftf.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/membernow-ideas.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>

				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/membernow-cast.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/membernow-arrington.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>

				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/membernow-signal.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>
				<div class="col-lg-6">
                    <div class="partnersBox">
						<a href="#"><img class="memberOrgLogo" src="{{ 'img/membernow-binance.png' | relative_url }}" /><img class="rightArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></a>
					</div>					
                </div>	
				-->
            </div>
        </div>
    </section>
    <!-- End Member Orgs -->	
	
	
	
	
	
    <!-- Committees -->
	
	<!--
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60 committees">Committees</h2>	
                </div>
				<div class="col-lg-6">
					<h2 class="committeeTitle">Technical Advisory Committee</h2>
					<p class="smallPara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Sara Drakeley, <span>MobileCoin - Lead</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Michael G, <span>Dreamhost</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Konstantin Richter, <span>Blockdaemon</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Jim Maybe, <span>Signal</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> TBD, <span>Coming Soon</span></h4>					
                </div>
				<div class="col-lg-6">
					<h2 class="committeeTitle">Policy Advisory Committee</h2>
					<p class="smallPara">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Tony Lai, <span>Independent</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Zander Rose, <span>LongNow</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Faisal, <span>IBB</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Tiff Chen, <span>FFTF</span></h4>
					<h4 class="committeeMember"><img class="userIcon" src="{{ 'img/userIcon.png' | relative_url }}" /> Shane Glynne, <span>MobileCoin</span></h4>					
                </div>				
            </div>
        </div>
    </section>
	-->
	
    <!-- End Committees -->	



	
    <!-- Powered By -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12">
                    <h2 class="subTitle paddingBottom60">Powered By</h2>	
                </div>
				
				<div class="col-lg-4">
					<img class="poweredIcon" src="{{ 'img/powered-3.png' | relative_url }}" />
				</div>				
				
				<!--
				<div class="col-lg-4">
					<img class="poweredIcon" src="{{ 'img/powered-1.png' | relative_url }}" />
				</div>
				<div class="col-lg-4">
					<img class="poweredIcon" src="{{ 'img/powered-2.png' | relative_url }}" />
				</div>
				-->
				
            </div>
        </div>
    </section>
    <!-- End Powered By -->		
	
	

    <!-- Divider -->
    <section class="divider-gap">
        <div class="container">
            <div class="row">
				<div class="col-lg-12">
					<hr class="greyDivider"></hr>
                </div>				
            </div>
        </div>
    </section>
    <!-- End Divider -->		
	
	
	
    <!-- Subscribe -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12 textCenter newsletterSection">
                    <h2 class="subTitle paddingDown">Subscribe To Our Newsletter</h2>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
					<p class="boxPara">If you are interested in getting updated with our latest news submit your email address in the box below to subscribe to the MobileCoin Foundation newsletter.</p>
                </div>
				<div class="col-lg-12 textCenter">
					<form action="" method="post" class="newsletterForm">
						<input class="inputDefault" type="email" id="" name="EMAIL" autocomplete="email" value="" placeholder="Enter your email address">
						<a href="#" class="buttonSubmit"><img src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></a>
					</form>
                </div>				
            </div>
        </div>
    </section>
    <!-- End Subscribe -->	



    <!-- Call to Action Next Page -->
    <section class="section-gap customPadding">
        <div class="container">
            <div class="row align-items-center">
				<div class="col-lg-12 textCenter">
					<div class="ctaBox">
						<h2 class="ctaBottom">Are you interested in checking out the latest MobileCoin Foundation projects?</h2>
						<a href="/MobileCoin/projects" class="ctaLink">Click here to view the projects page <img src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></a>
					</div>
                </div>					
            </div>
        </div>
    </section>
    <!-- End Call to Action Next Page -->	


    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />
                        <p class="footerWhiteText">Cryptocurrency designed for you.</p>
						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	