
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/memberlogo-arrington.png' | relative_url }}" alt="Arrington Logo">
                    <h1 class="pageTitle">Arrington XRP Capital</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Arrington XRP Capital is a cryptocurrency venture fund that was founded by Michael Arrington and Heather Harde.</p>
					<p class="smallPara members">They’ve amassed a large <a href="https://slack-redir.net/link?url=http%3A%2F%2Farringtonxrpcapital.com%2Fcompanies%2F" target="_blank">crypto-portfolio</a>, and we’re appreciative of their support.</p>
					<p class="smallPara members">The firm had this to say about joining the MobileCoin Foundation:</p>
					
					<h5 class="memberQuote blockdaeomon">“Arrington XRP Capital is excited to be part of the MobileCoin Foundation. As early supporters of the team, we have been impressed with MobileCoin’s secure and super fast transactions. The future of payment is mobile and increasingly embedded in the most secure messaging apps. The MobileCoin Foundation will play a big role and making that future real for millions of consumers worldwide."</h5>
					
					<a href="http://arringtonxrpcapital.com/" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-website.svg' | relative_url }}" alt="Website Link"></a>
					<a href="https://twitter.com/arringtonxrpcap?lang=en" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-twitter.svg' | relative_url }}" alt="Twitter Link"></a>						
					<div style="clear: both;"></div>
					<a href="/MobileCoin/about#Members" class="blueButton backToMembers">Back to Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
				<div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
				-->
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-12 lowerRowRight">			
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	