
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/membernow-cast.png' | relative_url }}" alt="CAST Logo">
                    <h1 class="pageTitle">CAST</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Community Arts Stabilization Trust (CAST) offers the rare solution by securing permanent space in San Francisco, Oakland and other urban city centers.</p>
					<p class="smallPara members">CAST holds the exciting potential to break the inevitable cycle of displacement and enable artists and creative enterprises to stay in our cities. Our nonprofit creates innovative financial vehicles to secure permanent space in urban city centers for community arts and culture nonprofit organizations. This enables vital arts entities to sustain the creativity and capacity necessary to promote lively and stable neighborhoods.</p>
					<p class="smallPara members">Founded in 2013 on the belief that the arts drive strong, vibrant, diverse communities. CAST secures space and works with community arts organizations to help develop and strengthen their financial and organizational capacity to purchase permanent facilities and navigate complex real estate issues. By collaborating with local government agencies, businesses, civic leaders, funders and artists, CAST celebrates, promotes, and preserves artistic and cultural traditions and innovations. Through CAST, San Francisco will remain a vibrant and thriving home for arts organizations that will foster creativity, community participation, economic development and neighborhood well-being.</p>
					
					<h5 class="memberQuote">"Free and secure payment systems are as important to the cultural community as they are to everyone. We’re excited to join the MobileCoin Foundation and bring the voices of artists and creative workers into the new world of digital currency."</p>
					<h5 class="memberTitle">Moy Eng, CEO of CAST</h5>					
					
					<a href="https://cast-sf.org/" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-website.svg' | relative_url }}" alt="Website Link"></a>
					<a href="https://twitter.com/castsf" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-twitter.svg' | relative_url }}" alt="Twitter Link"></a>		
					<div style="clear: both;"></div>					
					<a href="/MobileCoin/about#Members" class="blueButton backToMembers">Back to Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-12 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	