
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/member-pic-dbray.jpg' | relative_url }}" alt="David Bray">
                    <h1 class="pageTitle">Dr. David Bray</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Inaugural Director, GeoTech Commission and Director, Commission on the Geopolitical Impacts of New Technologies with the Atlantic Council</p>
					<p class="smallPara members">Dr. David A. Bray has served in a variety of leadership roles in <a href="https://washingtonexec.com/2018/02/where-are-they-now-dr-david-bray/" target="_blank">turbulent environments</a>, including bioterrorism preparedness and response from 2000-2005, time on the ground in Afghanistan in 2009, serving as the non-partisan Executive Director for a bipartisan National Commission on R&amp;D, and providing leadership as a non-partisan federal agency Senior Executive.</p>
					<p class="smallPara members">He accepted a leadership role in December 2019 to incubate a new global Center with the <a href="https://www.atlanticcouncil.org/expert/david-bray-phd/" target="_blank">Atlantic Council</a>. He also provides strategy to both Boards and start-ups espousing human-centric principles to technology-enabled decision making in <a href="https://washingtonexec.com/2018/02/where-are-they-now-dr-david-bray/" target="_blank">complex environments</a>. He was also named a <a href="https://www.ihmc.us/groups/david-bray/" target="_blank">Senior Fellow with the Institute for Human-Machine Cognition</a> in starting in 2018.</p>
					<p class="smallPara members">Business Insider named him one of the top “24 Americans Who Are Changing the World” under 40 and he was named a Young Global Leader by the World Economic Forum for 2016-2021. From 2017 to the start of 2020, David served as <a href="https://peoplecentered.net/people/leadership/" target="_blank">Executive Director for the People-Centered Internet Coalition</a> Chaired by Internet co-originator Vint Cerf, focused on providing support and expertise for <a href="https://peoplecentered.wpengine.com/updates/" target="_blank">community-focused projects that measurably improve people’s lives using the internet.</a></p>
					<div style="clear: both;"></div>					
					<a href="/MobileCoin/about#BoardMembers" class="blueButton backToMembers">Back to Board Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	