
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/memberlogo-dreamhost.png' | relative_url }}" alt="DreamHost Logo">
                    <h1 class="pageTitle">DreamHost</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">DreamHost is a premiere managed WordPress hosting provider, giving over 400,000 business, developers, and content creators worldwide the tools they need to own their digital presence</p>
					<p class="smallPara members">Powered by a strong team of industry experts with over two decades of advanced web experience, their mission is to help businesses attract, captivate, and grow their customers online with a full suite of web and marketing tools, curated roadmaps, and intelligent analytics.</p>
					<p class="smallPara members">Supporting the open source community with dedicated resources and top-tier talent, DreamHost believes in the power of the Open Web and the people that make it happen.  Founded in 1997, DreamHost has offices in Los Angeles and Orange County, California, and in Portland, Oregon.</p>
					
					<h5 class="memberQuote blockdaeomon">“We are excited about MobileCoin’s team and their vision to bring to market the world’s first easy-to-use, highly-transactible cryptocurrency, Any open source project that makes it easier and less expensive for our international customers to send and receive payments securely is something we’re proud to support."</h5>
					<h5 class="memberTitle">DreamHost CEO - Michael Rodriguez</h5>
					
					<a href="https://www.dreamhost.com/" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-website.svg' | relative_url }}" alt="Website Link"></a>
					<a href="https://twitter.com/DreamHost" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-twitter.svg' | relative_url }}" alt="Twitter Link"></a>						
					<div style="clear: both;"></div>
					<a href="/MobileCoin/about#Members" class="blueButton backToMembers">Back to Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	