
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/memberlogo-arrington.png' | relative_url }}" alt="Arrington Logo">
                    <h1 class="pageTitle">Fight for the Future</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Fight is a nonprofit that has been a digital rights leader since 2011</p>
					<p class="smallPara members">Fight’s mission is to ensure that the Internet, and technology more broadly, are forces for empowerment and free expression rather than corruption and inequality.</p>
					<p class="smallPara members">Using their tech activism approach, Fight is known for organizing the largest online protests in human history, including one in which over 24 million people and websites were able to defeat the Stop Online Piracy Act and the PROTECT IP Act that would have led to widespread Internet censorship.</p>
					<p class="smallPara members">Fight’s focus on privacy rights led them to launch the first major national campaign calling for a federal ban on law enforcement use of facial recognition, prompting bans in four major cities and more on the way.</p>
					
					<h5 class="memberQuote blockdaeomon">“Decentralized networks and cryptocurrencies have the potential to provide real alternatives to traditional systems in ways that protect Internet freedom and privacy. We’re excited about what MobileCoin is developing and look forward to advising them on issues of human rights and civil liberties."</h5>
					<h5 class="memberTitle">Sarah Roth-Gaudette, Executive Director of Fight</h5>	
					
					<a href="https://www.fightforthefuture.org/" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-website.svg' | relative_url }}" alt="Website Link"></a>
					<a href="https://twitter.com/fightfortheftr" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-twitter.svg' | relative_url }}" alt="Twitter Link"></a>						
					<div style="clear: both;"></div>
					<a href="/MobileCoin/about#Members" class="blueButton backToMembers">Back to Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
				<div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
				-->
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-12 lowerRowRight">			
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	