
    <!-- Get Involved Page Title -->
    <section class="pageTitleSection section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-4 text-left">
                    <h1 class="pageTitle">Get Involved</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="smallPara">If you are interested in getting involved with MobileCoin Foundation and any of it’s affiliated projects please complete the form and one of our representatives will reach out to you.</p>
					<hr class="greyDivider"></hr>
					<h2 class="subTitle contactText">1 Market St, San Francisco, California US</h2>
					<a class="contactPhone" href="tel:18005674942">1-800-567-4942 <img src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></a>
					<a class="contactEmail" href="mailto:hello@mobilecoin.foundation">hello@mobilecoin.foundation <img src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></a>					
                </div>
                <div class="col-lg-8">	
                    <form class="form-area contact-form" id="myForm" action="" method="post">
                        <div class="row">
							<div class="col-lg-6">
								<label for="">First Name *</label>
								<input name="name" autocomplete="first name" class="common-input mb-20 form-control" required="" type="text">
							</div>
							<div class="col-lg-6">							
								<label for="">Last Name *</label>
								<input name="name" autocomplete="last name" class="common-input mb-20 form-control" required="" type="text">
							</div>	
							<div class="col-lg-6">
								<label for="">Email Address *</label>
								<input name="email" autocomplete="email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" class="common-input mb-20 form-control" required="" type="email">						
							</div>
							<div class="col-lg-6">								
								<label for="">Phone Number (optional)</label>
								<input name="name" autocomplete="phone number" class="common-input mb-20 form-control" required="" type="text">
							</div>
							<div class="col-lg-12">
								<label for="">Message</label>
								<textarea class="common-textarea form-control" cols="30" rows="7" name="message" required=""></textarea>
							</div>
							<div class="col-lg-12">							
								<div class="">
									<button class="genric-btn mt-30">Submit <img class="submitArrow" src="{{ 'img/arrow-right-white.svg' | relative_url }}" /></button>
									<div class="alert-msg"></div>
								</div>
							</div>			
                    </form>
				</div>
            </div>
        </div>
    </section>
    <!-- End Get Involved Page Title -->


    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />
                        <p class="footerWhiteText">Cryptocurrency designed for you.</p>
						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	