
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/membernow-ideas.png' | relative_url }}" alt="Ideas Beyond Borders Logo">
                    <h1 class="pageTitle">Ideas Beyond Borders</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Ideas Beyond Borders is a 501(c)3 organization dedicated to fostering an Enlightened Middle East.</p>
					<p class="smallPara members">We champion a positive alternative to the extremism, authoritarianism, censorship, and violence that plagues the Middle East. We share, translate, and promote ideas that foster critical thinking, civil and human rights, science, pluralism, and more. IBB wants to ultimately bring to life a modern, pluralistic Middle East, led by the people of the region.</p>
					<p class="smallPara members">Founded in 2017 by Faisal Saeed Al Mutar, IBB completes its mission through its flagship translation program, Bayt Al Hikma 2.0 (BAH2.0). Named after a renowned 9th century Iraqi library famous for its dedication to critical thinking, BAH2.0 is a free-to-access hub of knowledge and a bustling online community with a distribution network of over 4.7 million on Facebook alone. The program aims to select, translate, distribute and popularize content related to critical thinking, civil rights, science, and more.</p>
					<p class="smallPara members">IBB works with over 120+ regional translators and volunteers, empowering them with professional skills and small stipends to improve their quality of living while pulling on their expertise as medical professionals, engineers, or members of our target audience. They play a crucial role in identifying what content we translate. Most live in traditionally hard-to-reach communities like Syria, post-ISIS and Iranian-militia dominated Iraq, Lebanon, Egypt, Saudi Arabia, and more.</p>
					<h5 class="memberQuote">"Accessible technologies designed with user privacy in mind, like MobileCoin, are the way of the future. We rely on these technologies to keep our translators and our on-the-ground teams safe. We are proud to join the MobileCoin Foundation as a Founding Member, and heartily support its mission of service to the community!"</p>
					<h5 class="memberTitle">Faisal Saeed Al Mutar, Founder and Executive Director of Ideas Beyond Borders</h5>					
					
					<a href="https://www.ideasbeyondborders.org/" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-website.svg' | relative_url }}" alt="Website Link"></a>
					<a href="https://twitter.com/IdeasB2" target="_blank" class="membersLink"><img class="memberIconLink" src="{{ 'img/icon-twitter.svg' | relative_url }}" alt="Twitter Link"></a>		
					<div style="clear: both;"></div>					
					<a href="/MobileCoin/about#Members" class="blueButton backToMembers">Back to Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	