
    <!-- News Page Title -->
    <section class="pageTitleSection section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
                    <h1 class="pageTitle">News</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                </div>
            </div>


			<ul>
			   <!--
			  {% for post in site.posts %}
				<li class="newsBox">
				  <h5 class="newsDateStamp" style="color:#111;">{{ post.date | date: '%B %d, %Y' }}</h5>
				  <a href="/MobileCoin/{{ post.url }}" class="newsTitle">{{ post.title }}
					<span class="readMore">Read More <img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></span>
				  </a>
				</li>
			  {% endfor %}
			   -->

			
				<li class="newsBox">
				  <h5 class="newsDateStamp" style="color:#111;">Joshua Goldbard - May 13th 2020</h5>
				  <a href="https://medium.com/mobilecoin/projectslice-satoshis-pizzeria-e25a02353d5e" class="newsTitle" target="_blank">#ProjectSlice: Satoshi’s Pizzeria
					<span class="readMore">Read More <img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></span>
				  </a>
				</li>
			
				<li class="newsBox">
				  <h5 class="newsDateStamp" style="color:#111;">Joshua Goldbard - April 24th 2018</h5>
				  <a href="https://medium.com/mobilecoin/mobilecoin-cryptocurrency-designed-for-everyone-a36d3355920b" class="newsTitle" target="_blank">MobileCoin: Cryptocurrency Designed for Everyone
					<span class="readMore">Read More <img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" /></span>
				  </a>
				</li>
			</ul>
			
        </div>
    </section>
    <!-- End News Page Title -->


	

    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	