
    <!-- News Page Title -->
    <section class="pageTitleSection section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
                    <h1 class="pageTitle">News</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 newsBox">
                    <h5 class="newsDateStamp">Thursday, April 18th, 2020</h5>
					<h4 class="newsTitle">Platform updates to our Protocol project have been released</h4>
					<a class="readMore" href="#">Read More</a>
					<img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" />					
                </div>
                <div class="col-lg-12 newsBox">
                    <h5 class="newsDateStamp">Monday, April 3rd, 2020</h5>
					<h4 class="newsTitle">We have launched the new MobileCoin Foundation website</h4>
					<a class="readMore" href="#">Read More</a>
					<img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" />					
                </div>
                <div class="col-lg-12 newsBox">
                    <h5 class="newsDateStamp">Wednesday, March 29th, 2020</h5>
					<h4 class="newsTitle">Checkout the latest progress for the Network build</h4>
					<a class="readMore" href="#">Read More</a>
					<img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" />					
                </div>
                <div class="col-lg-12 newsBox">
                    <h5 class="newsDateStamp">Friday, February 23rd, 2020</h5>
					<h4 class="newsTitle">Exciting things happening around here, checkout the latest</h4>
					<a class="readMore" href="#">Read More</a>
					<img class="newsArrow" src="{{ 'img/blue-arrow-right.svg' | relative_url }}" />					
                </div>				
            </div>			
        </div>
    </section>
    <!-- End News Page Title -->


	

    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />
                        <p class="footerWhiteText">Cryptocurrency designed for you.</p>
						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Projects</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-6 lowerRowLeft">
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter1.svg"></object></a>
					<a class="partnerLink" href="#"><object type="image/svg+xml" data="/MobileCoin/img/partnerFooter2.svg"></object></a>			
				</div>
				<div class="col-lg-6 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	