
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/member-pic-renee.jpg' | relative_url }}" alt="David Bray">
                    <h1 class="pageTitle">Renée DiResta</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Renée DiResta is the Technical Research Manager at the Stanford Internet Observatory</p>
					<p class="smallPara members">She investigates the spread of malign narratives across social and other media networks. Renee’s areas of research include disinformation and propaganda by state-sponsored actors, and health misinformation and conspiracy theories. Renee has <a href="https://www.c-span.org/video/?449088-1/senate-intelligence-committee-holds-hearing-social-media-foreign-influence" target="_blank">advised Congress</a>, the State Department, and other academic, civic, and business organizations, and has studied disinformation and computational propaganda in the context of pseudoscience conspiracies, terrorism, and state- sponsored information warfare.</p>
					<p class="smallPara members">Renée <a href="http://www.reneediresta.com/" target="_blank">regularly writes and speaks</a> about the role that tech platforms and curatorial algorithms play in the proliferation of disinformation and conspiracy theories. She is an <a href="https://www.wired.com/author/renee-diresta/" target="_blank">Ideas contributor at Wired</a> and The Atlantic. Her tech industry writing, analysis, talks, and data visualizations have been featured or covered by numerous media outlets including the New York Times, The Washington Post, The Wall Street Journal, The Atlantic, CNN, CNBC, Bloomberg, Fast Company, Politico, TechCrunch, Wired, Slate, Forbes, Buzzfeed, The Economist, Journal of Commerce, and more.</p>
					<p class="smallPara members">She is a 2019 Truman National Security Project security fellow, a 2019 Mozilla Fellow in Media, Misinformation, and Trust, and a Council on Foreign Relations term member. Renée is a co-author of <a href="http://www.thehardwarestartup.com/" target="_blank">The Hardware Startup: Building your Product, Business, and Brand</a>, published by O’Reilly Media.</p>
					
					<a href="https://www.linkedin.com/in/reneediresta/" target="_blank" class="membersLink board">LinkedIn</a>
					<a href="https://twitter.com/noUpside" target="_blank" class="membersLink board">Twitter</a>
					<div style="clear: both;"></div>					
					<a href="/MobileCoin/about#BoardMembers" class="blueButton backToMembers">Back to Board Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--
				<div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
				-->
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-12 lowerRowRight">				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	