
    <!-- Projects Page Title -->
    <section class="pageTitleSection section-gap membersArea">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-8 text-left">
					<img class="img-fluid" src="{{ 'img/member-pic-sarah.jpg' | relative_url }}" alt="David Bray">
                    <h1 class="pageTitle">Sarah Novotny</h1>
					<img class="blue-divider" src="{{ 'img/blueDivider.png' | relative_url }}" alt="" />
                    <p class="subPara members">Sarah Novotny is a technology executive with pioneering leadership in Open Source, Cloud Computing, infrastructure automation, and big data</p>
					<p class="smallPara members">Her career demonstrates entrepreneurial spirit - consistently leading technical operations and development teams as well as engaged in external facing work such as Developer Relations, Marketing, Sales Engineering, Customer Success, PR and Public Speaking.</p>
					<p class="smallPara members">She most recently joined the Microsoft Azure Office of the CTO after leading an Open Source Strategy group for Google Cloud Platform.  Sarah has represented both Google and Microsoft on the Linux Foundation Board of Directors. During her tenure at Google as a Node.js Foundation Director she led a merger between the Node.js Foundation and the JS Foundation. These two Foundations now host XX projects under the combined entity Open JS Foundation.</p>
					<p class="smallPara members">Sarah is an Industry-recognized authority on open source culture, and a big picture thinker who empowered, developed governance for, and grew the Kubernetes open source project leadership while representing Google during the founding of the Cloud Native Computing Foundation.</p>
					<p class="smallPara members">Sarah led Developer Relations and Marketing for NGINX (acquired by F5 for 670MM in 2019) where she was responsible for technical evangelism, advocacy, and traditional marketing for the #1 webserver (growing from 120MM websites in 2013 to 420MM today). In these roles, she participated in board level strategic discussions.</p>
					<p class="smallPara members">She also spent time as CIO and acting CTO for Meteor Entertainment where she developed the product vision for an auto-scaling cloud-based video game publishing platform, framed and managed the corporate IP strategy, pitched VCs for Series C funding, and sat on the Board of Directors as a named observer and performed duties as the Secretary of the Company.</p>
					<p class="smallPara members">In her early career she founded Blue Gecko with two colleagues from her time at Amazon. This self-funded company offered databases as a service before cloud computing became a common technology. Blue Gecko sold it to DatAvail in 2012.</p>
					<p class="smallPara members">Sarah has been active in Non-profit work including the corporate industry groups listed above and several arts related 501(c)3s including Chairing the Artist Trust of Washington State Board and guiding The Project Room through its non-profit status acquisition.</p>
					
					<a href="https://www.linkedin.com/in/sarahnovotny/" target="_blank" class="membersLink board">LinkedIn</a>
					<a href="https://twitter.com/sarahnovotny" target="_blank" class="membersLink board">Twitter</a>
					<div style="clear: both;"></div>					
					<a href="/MobileCoin/about#BoardMembers" class="blueButton backToMembers">Back to Board Members</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Projects Page Title -->




    <!-- Footer Area -->
	<div class="blueArea">
		<div class="row">
			<div class="col-lg-12 text-center blueBox">
				<h2 class="footerBlueText">Private Payments, Simplified</h2>
			</div>
		</div>
	</div>		
	<footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
						<img src="{{ 'img/logo.svg' | relative_url }}" />

						<p class="footerWhiteText">Private payments for everyone.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-footer-widget">
                        <ul class="menu-list">
                            <li>
                                <a href="/MobileCoin/">Home</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/about">About</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/projects">Projects</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/news">News</a>
                            </li>
                            <li>
                                <a href="/MobileCoin/get-involved">Get Involved</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 float-right">
                    <div class="single-footer-widget">
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>							
                            <li>
                                <a href="#">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row footerCopyright">			
				<div class="col-lg-12 lowerRowRight">
					<a class="privacyLink" href="#">Privacy & Cookies</a>				
					<p class="copyrightArea">© 2020 MobileCoin Inc. All Rights Reserved.</p>
				</div>
			</div>
        </div>
    </footer>
    <!-- End Footer Area -->	
	
	
	